UserInterfaceState.xcuserstate
*.xcuserstate

*.xccheckout

*.xcuserstate

*.xcuserstate

*.xcuserstate

.DS_Store

TTChallenger.xcodeproj/project.xcworkspace/xcuserdata/wechambers.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

*.plist
